In [ ]:
import pandas as pd
import random
import numpy as np
from sklearn.model_selection import StratifiedShuffleSplit

In [ ]:
dataset = pd.read_csv('census.csv')

In [ ]:
dataset['income'].value_counts() #income - nome de uma coluna

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

In [ ]:
7841/len(dataset), 24720/len(dataset)

(0.2408095574460244, 0.7591904425539756)

In [ ]:
100/len(dataset)

0.0030711587481956942

In [ ]:
split = StratifiedShuffleSplit(test_size=0.0030711587481956942) #0.1 = 10% da base de dados
for x,y in split.split(dataset, dataset['income']):
  df_x = dataset.iloc[x]
  df_y = dataset.iloc[y]

  #ele cria dois dataset, um com 10% dos dados e outro com 90%

In [ ]:
df_x.shape, df_y.shape

((32461, 15), (100, 15))

In [ ]:
df_y['income'].value_counts()

 <=50K    76
 >50K     24
Name: income, dtype: int64